@model MovieVM
@{
    ViewData["Title"] = "Movie";
    Layout = "_ManageLayout";
}
	<div class="container mt-4">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">სათაური</th>
					<th scope="col">ფუნქცია</th>
				</tr>
			</thead>
			<partial name="~/Views/Manage/TableRows.cshtml" model="Model" />
		</table>
		<a class="btn btn-success" id="addBtn" asp-controller="Manage" asp-action="CreateMovie">
			დამატება
		</a>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">ფილმის დამატება</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>